{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
        <title>
            {% block title %} 
            {{ page_title|default:"Drug Search Hub" }} 
            {% endblock title %}
        </title>

        <!--Favicon -->
		<link rel="icon" href="{% static 'assets/images/brand/favicon.ico' %}" type="image/x-icon"/>

		<!-- Bootstrap css -->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet" />

		<!-- Style css -->
		<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

		<!-- Animate css -->
		<link href="{% static 'assets/css/animated.css' %}" rel="stylesheet" />
    </head>
    <body class="app sidebar-mini light-mode default-sidebar">
        <!---Global-loader-->
		<div id="global-loader" >
			<img src="{% static 'assets/images/svgs/loader.svg' %}" alt="loader">
		</div>
        <div class="container">
            <div class="row mt-6">
                <div class="col-md-3"></div>
                 <div class="col-md-3 text-left">
                    <img src="{% static 'assets/images/logo/logo.png' %}" width=80 alt="loader">
                 </div>
                 <div class="col-md-3 text-right pt-6"><a href="#">YOUR DRUGS HUB</a></div>
                 <div class="col-md-3"></div>
             </div>
        </div>

        {% block content %} {% endblock content %}

        <!-- Jquery js-->
		<script src="{% static 'assets/js/vendors/jquery-3.5.1.min.js' %}"></script>
        <!-- Bootstrap js-->
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- Custom js-->
		<script src="{% static 'assets/js/custom.js' %}"></script>
    </body>
</html>
