{% extends "base.html" %}

{% block content %}
 <div class="container">
    <div class="row mt-6">
        <div class="col-md-3"></div>
         <div class="col-md-6">
             <div class="form-group">
                  <div class="input-group">
                     <input type="text" id="txtSearch" class="form-control" placeholder="You can search by drug name or disease">
                     <span class="input-group-append">
                         <button id="btnSearch" class="btn btn-primary" type="button">Search</button>
                     </span>
                 </div>
             </div>
         </div>
         <div class="col-md-3"></div>
     </div>
</div>

<div class="container search-results">
    
</div>
<div class="container pagination mt-4 mb-6">
    <div class="col-md-3"></div>
    <div class="col-md-3 text-left"><a href="#" style="display:none;" class="pgPrevious">&lt; Previous</a></div>
    <div class="col-md-3 text-right"><a href="#" style="display:none;" class="pgNext">Next &gt;</a></div>
    <div class="col-md-3"></div>
</div>
{% endblock content %}
